{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",

  "plugins": ["prettier-plugin-tailwindcss"],

  "overrides": [
    {
      "files": "*.md",
      "options": { "proseWrap": "always" }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": { "printWidth": 80 }
    },
    {
      "files": ["next-env.d.ts"],
      "options": { "printWidth": 120 }
    }
  ]
}
